{% extends 'visualization/base.html' %}
{% block title %}Visualize.io: About{% endblock title %}
{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "visualization/css/carousel.css" %}"/>
    <link rel="stylesheet" href="{% static "visualization/css/about.css" %}"/>
{% endblock stylesheets %}
{% block headjs %}{% endblock headjs %}
{% block content %}

    <div class="jumbotron">
        <h1>Data Visualization as a Service</h1>
        <p>
        Nowadays data is being produced at a faster rate than ever before.
        Data is great but it needs to be processed and analyzed to provide meaningful insight.
        As humans, we can infer much more from a visual representation of data than the processed data.
        </p>
        <p>
            By providing a workspace with basic visualization models as well as the ability to import data sets
            and export to various formats, the user is empowered to create and share models representative of the data sets.
        </p>
    </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4 img-desc img-desc-first">
                <img class="img-circle" src="{% static "visualization/img/piechart.png" %}" alt="Generic placeholder image">
                <h2>JavaScript</h2>
                <p>Using the amazing visualization libraries created in JavaScript, many of the visualization models that are seen use the SVG to allow
                the user to manipulate the model as he or she pleases</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 img-desc">
                <img class="img-circle" src="{% static "visualization/img/barchart.png" %}" alt="Generic placeholder image">
                <h2>Python</h2>
                <p>
                    Python is a general purpose programming language that provides great tools for data analysis and manipulation.
                    Python provides robust data analysis tools such as numpy and pandas that allow for quick processing of large data sets.
                </p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 img-desc">
                <img class="img-circle" src="{% static "visualization/img/linechart.png" %}" alt="Generic placeholder image">
                <h2>R</h2>
                <p>
                    R is a statistics-based programming language that provides many modules for the processing and analysis
                    of data.
                </p>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Three languages coming together. <span class="text-muted">Providing an apt environment.</span></h2>
                <p class="lead"> The goal that this platform tries to accomplish is to provide the user with the tools needed to visualize
            data sets. </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive three-img" src="{% static  "visualization/img/three.jpg"%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        <a href="{{ MEDIA_URL }}files/2014/05/22/AllstarFull.csv"></a>
    </div><!-- /.container -->

{% endblock %}
{% block javascript %}{% endblock javascript %}