{% extends 'visualization/base.html' %}
{% block stylesheets %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'visualization/css/authentication.css' %}"/>
    <link rel="stylesheet" href="{% static 'visualization/alertify.js-0.3.11/themes/alertify.core.css' %}"/>
    <link rel="stylesheet" href="{% static 'visualization/alertify.js-0.3.11/themes/alertify.default.css' %}"/>
{% endblock stylesheets%}
{% block content %}
    <div class="container">
        <div class="form-container">
        {% if sign_in_form %}
            {% include 'visualization/authentication/signin.html' %}
        {% endif %}
        {% if sign_up_form %}
            {% include 'visualization/authentication/signup.html' %}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js"></script>
    <script src="{% static 'visualization/js/authenticate.js' %}"></script>
{% endblock javascript %}