<div id="dropzone">
<!-- IMPORTANT enctype attribute! -->
<form  class="dropzone"  action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {#        {{ form }}#}
</form>
<p>{{ form.non_field_errors }}</p>
<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
<p>
    {{ form.docfile.errors }}
    {{ form.docfile }}
</p>
</div>
{% block javascript %}
    {% load staticfiles %}
    <script src="{% static "visualization/dropzone-3.8.4/dropzone.min.js" %}"></script>
{% endblock javascript %}

