{% extends 'visualization/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar panel panel-info">
                <form name="search" id="search" role="form">
                    <div class="input-group form-group search-group">
                        <input type="text" class="form-control" id="search-term" placeholder="Search models..." required>
                        <span class="input-group-addon" id="search-icon"><span class="glyphicon glyphicon-search" onclick="search()"></span></span>
                    </div>
                </form>
                <ul class="nav nav-sidebar">
                    {% comment %}
                        This for runs through all the models and creates a side bar with
                        all the visualization models
                    {% endcomment %}
{#                    <div class="sidebar-toggle">#}
{#                        <i class="fa fa-angle-double-right"></i>#}
{#                    </div>#}
                    {% for model in models %}
                        <div class="panel-group" id="accordion">
                        <div class="panel-default">
                            <h4 class="panel-title">
                                <li class="active titles" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ model.title|slugify }}">
                                    <p>{{ model.title }}<span class="glyphicon glyphicon-chevron-right dropdown-icon"></span></p>
                                </li>

                            </h4>
                        </div>
                        <div id="collapse{{ model.title|slugify }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>{{ model.description }}</p>
                                <button type="button" class="btn btn-info"><a class="example-button" href="{{ model.link }}">Show an example</a></button>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </ul>
            </div>
            <div id="playground" ondrop="drop(event)" ondragover="allowDrop(event)" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div>
                    <ul class="nav nav-tabs menu-options">
                        <li class="dropdown">
                            <a class="dropdown-toggle menu-option" data-toggle="dropdown" href="#">Editor</a>
                        </li>
                        <li class="dropdown " id="import" >
                            <a class="dropdown-toggle menu-option" data-toggle="dropdown" href="#">Import<i class="fa fa-caret-right" id="import-caret"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href="#">JSON</a></li>
                                <li class="divider"></li>
                                <li><a href="#">CSV</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Excel</a></li>
                                <li class="divider"></li>
                                <li><a href="#">txt</a></li>
                                <li class="divider"></li>
                                <li><a href="#">SQL</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" id="export">
                            <a class="dropdown-toggle  menu-option" data-toggle="dropdown" href="#">Export<i class="fa fa-caret-right" id="export-caret"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="divider"></li>
                                <li><a href="#">PDF</a></li>
                                <li class="divider"></li>
                                <li><a href="#">JPEG</a></li>
                                <li class="divider"></li>
                                <li><a href="#">R</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Python</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% include "visualization/playground.html" %}
            </div>


        </div>
    </div>
{% endblock %}
