Django==1.6.2
South==0.8.4
dj-static==0.0.5
django-easy-pdf==0.1.0
docutils==0.11
jsonfield==0.9.20
numpy==1.8.1
pandas==0.13.1
pystache==0.5.3
python-dateutil==2.2
pytz==2014.2
reportlab==3.0
rstview==0.1.2
six==1.6.1
static==1.0.2
