#playground {
    padding:1em;
    overflow: scroll;
}


#navigationbar {
    background-color: #e5e5e5;
}


.titles {
    padding-left: 1em;
    margin-right: 1em;
    padding-bottom: 0.5em;
    border-bottom: medium solid #a2ccef;
    border-bottom-left-radius: 0.5em 0.5em;
    border-bottom-right-radius: 0.5em 0.5em;
    cursor: pointer;
}


.dropdown-icon {
    float: right;
    margin-top:0.5em;
}

#search-icon {
    background-color: #FFFFFF;
    cursor: inherit;
}

.search-group {
    padding-bottom: 0.5em;
}

.sidebar {
    overflow: scroll;
}

.panel-body{
    background-image: url(http://www.example.com/images/bck.png);
}

footer {
    background-color: #e8e8e8;
}


.fa-caret-right,
.fa-caret-down {
    padding-left: 0.5em;
}

.menu-options {
    padding-bottom: 0.5em;
    float:left;
}

.menu-option {
    background-color: #eeeeee;
}

.example-button {
    color: #ffffff;
    padding: 0.5em;
    margin:0.5em;
}

.sidebar-toggle {
    position: absolute;
    font-size: 3em;
    top: 2px;
    right: 3px;
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
}

#import-info {
    border-spacing: 1em;
    border-radius: 5em;
}

.fa-table,
.menu-glyphicons {
    padding-left: 0.5em;
}

#workspace {
    margin-top: 4em;
}
#container,
#chart svg {
    height: 400px;

    border: 1px solid #c8c8c8;
    border-radius: 1em 1em;

}


#texteditor {
    border-top: 0.5em solid #f8f8f8;
    border-bottom: 0.5em solid #f8f8f8;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.CodeMirror {
    border: 1px solid #ddd;
}

.addbtn {
    border-radius: 5em 5em;
    margin-left: 1em;
}

#dataTable {
    margin-top: 1em;
}

.fa-upload {
    margin-right: 0.3em;
}

#uploadButton,
#clearAllButton {
    border-radius: 1em;
    font-size:1.5em;
    box-shadow: inset 0 0 0.1em #e8e8e8, 0 0 0.01em;
}

#uploadButton:focus,
#clearAllButton:focus
.addbtn:focus{
    outline: 0 !important;
    -webkit-appearance:none;

}


.dropzone-options {
    margin-left: 30em;
}

.remove-file {
    margin-top: 0.5em;
}

.alert-vex-content {
    border-radius: 0.5em;
    font-size: 1.5em;
}

.alert-vex-close {
    border-radius: 1em;
}


.dropdown-menu {
    background-color: #e8e8e8;
}

.dropdown-option {
    text-align: center;
}

.limit {
    display: inline-block;
}

#workspace-view:active,
#data-grid:active
#editor:active,
#import:active,
#export:active
{
    box-shadow: 0 0 0.3em #e5e5e5;
}



ul[aria-labelledby=drop2] {
    background-color: rgba(248, 248, 248, 0.45);
    border-radius: 0.3em;
    text-align: center;
}