{% if sign_up_form %}

        <form action="#" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                {{ sign_up_form.username }}
            </div>
            <div class="form-group">
                {{ sign_up_form.password1 }}
            </div>
            <div class="form-group">
                {{ sign_up_form.password2 }}
            </div>
            <button type="submit" class="btn btn-primary" id="signupbutton">Submit</button>
        </form>
        <a href="#" id="signin">Already Registered? Sign In</a>

{% endif %}